# Ignore DS_Store files (macOS)
.DS_Store

# Ignore all .txt files
*.txt

# Except keep license.txt
!license.txt

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.cpython-310.pyc
*.pyc
/Users/cu135/Library/CloudStorage/OneDrive-Personal/OneDrive_Documents/Work/Software/ReviewPyper/__pycache__

# Ignore all Cython files
*.c
*.cpp
*.cxx
*.h
*.pyx
*.pxd
*.pxi
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
ReviewPygit ls-files | grep ReviewPyPerVenvPerVenv/
*.env
*.venv
env/
venv/
ENV/
VENV/
ReviewPyPerVenv/
*.egg-info/